<!-- Footer -->
<footer class="bg-dark text-center text-white" style="margin-top: 30px;">
  <!-- Grid container -->
  <div class="container p-4">
    

   
    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="margin-right: 250px; text-align:left">
          <text name="" id="" >K-blog là nền tảng tương tác trực tuyến hỗ trợ người dùng học tập, thực hành, thi đấu và đánh giá kỹ năng lập trình một cách nhanh chóng và chính xác.</text>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0" style="text-align: left;">
          <h5 class="text-uppercase">LIÊN KẾT</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Học tập</a>
            </li>
            <li>
              <a href="#!" class="text-white">Luyện tập</a>
            </li>
            <li>
              <a href="#!" class="text-white">Cuộc thi</a>
            </li>
            <li>
              <a href="#!" class="text-white">Trò chơi</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0" style="text-align: left;">
          <h5 class="text-uppercase">THÔNG TIN</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Chia sẻ</a>
            </li>
            <li>
              <a href="#!" class="text-white">Về chúng tôi</a>
            </li>
            <li>
              <a href="#!" class="text-white">Điều khoản sử dụng</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0" style="text-align: left;" >
          <h5 class="text-uppercase">TRỢ GIÚP</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Hỗ trợ</a>
            </li>
            <li>
              <a href="#!" class="text-white">Thảo luận</a>
            </li>
            <li>
              <a href="#!" class="text-white">Liên hệ với chúng tôi</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->